.portrait-style {
    visibility: hidden;
    width: 256px;
    height: 256px;
    border-top-left-radius: 128px;
    border-top-right-radius: 128px;
    border-bottom-right-radius: 128px;
    border-bottom-left-radius: 128px;
    overflow: hidden;
    background-image: url("project://database/Assets/UI%20Toolkit/PortraitRender.renderTexture?fileID=8400000&guid=f19268f675f73f649a270af3bfe62b21&type=2#PortraitRender");
}
